
  <main class="main-denuncia">
    <section class="sessao-denuncia">
      <form method="POST" action="/ocorrencias/save" enctype="multipart/form-data">
        
        <input type="file" required hidden name="image" id="input_file" onchange="fileReader(event)">

        <div class="imagem" id="upload-img">
          <div class="icone-camera">
            <i class="fas fa-camera"></i>
          </div>
        </div>
        
        <div class="form-group">
          <label for="descricao" class="sr-only">Descrição</label>
          <input type="text" name="descricao" id="descricao" placeholder="Descrição" required>
        </div>

        <div class="form-group">
          <label for="endereco" class="sr-only">Endereço</label>
          <input type="text" name="endereco" id="endereco" placeholder="endereço" required>
        </div>

        <div class="form-group">
          <label for="bairro" class="sr-only">Bairro</label>
          <input type="text" name="bairro" id="bairro" placeholder="Bairro" required>
        </div>

        <div class="form-group">
          <label for="cidade" class="sr-only">Cidade</label>
          <select class="form-control" id="cidade" name="cidades_id" placeholder="Cidade-Uf" required>
            <% for( let cidade of cidades) { %>
              <option value="<%=cidade.id%>"><%=cidade.descricao%>
                - <%=cidade.estados.sigla%>
              </option>
            <% } %>
          </select>
        </div>
        
        <input type="submit" value="Salvar" class="btn btn-primary">
        <a href="/users/home" class="btn-voltar"><i class="fas fa-chevron-left"></i> <span class="texto">Voltar</span></a>
        
      </form>
    </section>
  </main>
  <script src="/javascripts/upload-img.js"></script>
