
<body class="body-home">
  <header class="header">
    <div class="header-user">
      <div class="header-user-img">
        <i class="fas fa-user-circle"></i>
      </div>
      <div class="header-user-name">
        <h2>usuario</h2>
      </div>
      <div class="header-sair">
        <i class="fas fa-power-off"></i>
      </div>
    </div>
  </header>
  <main class="main-denuncia">
    <section class="sessao-denuncia">
      <form action="">
        
        <div class="imagem">
          <div class="icone-camera">
            <i class="fas fa-camera"></i>
          </div>
          <div class="imagem-importada">
            <img src="" alt="imagem">
          </div>
        </div>
        
        <div class="form-group">
          <label for="endereco" class="sr-only">Endereço</label>
          <input type="text" name="endereco" id="endereco" placeholder="endereço">
        </div>
        
        <div class="form-group">
          <label for="cidade" class="sr-only">Cidade</label>
          <input type="text" name="cidade" id="cidade" placeholder="Cidade-Uf">
        </div>
        
        <input type="submit" value="Salvar" class="btn btn-primary">
        <a href="" class="btn-voltar"><i class="fas fa-chevron-left"></i> <span class="texto">Voltar</span></a>
        
      </form>
    </section>
  </main>