
<main class="main-denuncia">
  <section class="sessao-denuncia">
    <form action="/users/denuncia" method="POST" enctype="multipart/form-data" autocomplete="off">
      
      <div class="imagem">
        <div class="icone-camera">
          <i class="fas fa-camera"></i>
        </div>
        <div class="imagem-importada">
        </div>
        <input type="file" name="imagem" id="imagem" class="sr-only" onchange="openFile(event)" required>
      </div>
      <%- include('alertas') %> 

      <div class="form-group">
        <label for="descricao" class="sr-only">Descrição</label>
        <input type="text" name="descricao" id="descricao" placeholder="Descrição" autocomplete="off" required>
      </div>

      <div class="form-group">
        <label for="endereco" class="sr-only">Endereço</label>
        <input type="text" name="endereco" id="endereco" placeholder="Endereço" autocomplete="off" required>
      </div>
      
      <div class="form-group">
        <label for="bairro" class="sr-only">Bairro</label>
        <input type="text" name="bairro" id="bairro" placeholder="Bairro" autocomplete="off" required>
      </div>
      
      <div class="form-group">
        <label for="cidade" class="sr-only">Cidade</label>
        <input list="cidades" name="cidade" id="cidade" placeholder="Cidade-Uf" autocomplete="off" required>
        <datalist id="cidades">
          <%for(let cidade of cidades){ %> 
          <option value="<%=cidade.id%>-<%=cidade.descricao%>-<%=cidade.sigla%>">
          <%}%>
        </datalist>
      </div>
      
      <input type="submit" value="Salvar" class="btn btn-primary">
      <a href="/users" class="btn-voltar"><i class="fas fa-chevron-left"></i> <span class="texto">Voltar</span></a>
      
    </form>
  </section>
</main>
<script src="/javascripts/filereader.js"></script>
<script src="/javascripts/buscarcidades.js"></script>