<body class="body-home">
  <header class="header">
    <div class="header-user">
      <div class="header-user-img">
        <i class="fas fa-user-circle"></i>
      </div>
      <div class="header-user-name">
        <h2>usuario</h2>
      </div>
      <div class="header-sair" onclick="location.href='/users/logout'">
        <i class="fas fa-power-off"></i>
      </div>
    </div>
  </header>