<body class="body-home">
  <header class="header">
    <div class="header-user">

      <div class="header-user-img" style="background-image: url('/avatares/<%=usuario.imagem%>');"
        onclick="location.href='/users/perfil'">

        <i class="fas fa-user-circle" <%if(usuario.imagem != 'no_image.png'){%>
          style="display:none" <%}%> ></i>

      </div>

      <div class="header-user-name">
        <h2 onclick="location.href='/users/perfil'"><%=usuario.nome%></h2>
      </div>

      <div class="header-sair" onclick="location.href='/users/logout'">
        <i class="fas fa-power-off"></i>
      </div>

    </div>
  </header>