<body class="body-home">
  <header class="header">
    <div class="header-user">
      <div class="header-user-img" onclick="location.href='/users/perfil'">
        <% if (user.imagem != 'avatar.png') { %>
          <div class="icone-user" style="background-image: url('/images/avatar/<%=user.imagem%>');"></div>
        <% }else{%>
          <i class="fas fa-user-circle"></i>
        <% } %> 
      </div>
      <div class="header-user-name">
        <h2 onclick="location.href='/users/perfil'"><%=user.nome%> </h2>
      </div>
      <div class="header-sair" onclick="location.href='/users/logout'">
        <i class="fas fa-power-off"></i>
      </div>
    </div>
  </header>