<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Um site para denúncias de foco do mosquito da dengue">
  <meta name="keywords" content="Mosquito da dengue, foco da dengue, água parada">
  <meta name="author" content="Alessandro Dev">
  <link rel="shortcut icon" href="/images/icon.png" type="image/x-icon">
  <title><%=title%></title>
  <script src="https://kit.fontawesome.com/8701d44bdc.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>