<main class="main">
      <ul class="main-ul">
        <li class="main-ul-item">
          <div class="card">
            <img src="/images/no-image.png" class="card-img-top" alt="imagem">
            <div class="card-body">
              <p class="card-text">Rua vai quem quer, 50</p>
              <a href="#" class="btn btn-primary btn-status">Pendente</a>
            </div>
          </div>
        </li>
        
        <li class="main-ul-item">
          <div class="card">
            <img src="/images/no-image.png" class="card-img-top" alt="imagem">
            <div class="card-body">
              <p class="card-text">Rua vai quem quer, 50</p>
              <a href="#" class="btn btn-primary btn-status">Pendente</a>
            </div>
          </div>
        </li>
        
        <li class="main-ul-item">
          <div class="card">
            <img src="/images/no-image.png" class="card-img-top" alt="imagem">
            <div class="card-body">
              <p class="card-text">Rua vai quem quer, 50</p>
              <a href="#" class="btn btn-primary btn-status">Pendente</a>
            </div>
          </div>
        </li>
        
        <li class="main-ul-item">
          <div class="card">
            <img src="/images/no-image.png" class="card-img-top" alt="imagem">
            <div class="card-body">
              <p class="card-text">Rua vai quem quer, 50</p>
              <a href="#" class="btn btn-primary btn-status">Pendente</a>
            </div>
          </div>
        </li>
        
        <li class="main-ul-item">
          <div class="card">
            <img src="/images/no-image.png" class="card-img-top" alt="imagem">
            <div class="card-body">
              <p class="card-text">Rua vai quem quer, 50</p>
              <a href="#" class="btn btn-primary btn-status">Pendente</a>
            </div>
          </div>
        </li>
        
        
        <li class="main-ul-item">
          <div class="card">
            <img src="/images/no-image.png" class="card-img-top" alt="imagem">
            <div class="card-body">
              <p class="card-text">Rua vai quem quer, 50</p>
              <a href="#" class="btn btn-primary btn-status">Pendente</a>
            </div>
          </div>
        </li>
        
        <li class="main-ul-item">
          <div class="card">
            <img src="/images/no-image.png" class="card-img-top" alt="imagem">
            <div class="card-body">
              <p class="card-text">Rua vai quem quer, 50</p>
              <a href="#" class="btn btn-primary btn-status">Pendente</a>
            </div>
          </div>
        </li>
        
        <li class="main-ul-item">
          <div class="card">
            <img src="/images/no-image.png" class="card-img-top" alt="imagem">
            <div class="card-body">
              <p class="card-text">Rua vai quem quer, 50</p>
              <a href="#" class="btn btn-primary btn-status">Pendente</a>
            </div>
          </div>
        </li>
        
      </ul>
    </main>